﻿@model LoginModel 
<h1>Acceso</h1>
<form method="post" class="form-group" style="margin-left:25%;margin-right:25%;">
   
    <div class="form-group">
        <label for="exampleInputEmail1">Usuario:</label>
        <input asp-for="User" value="" class="form-control" /><br />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Contraseña:</label>

        @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", placeholder = "Password" })
        <br />
        
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Login" />
    
        @Html.AntiForgeryToken()
    </div>

 
</form>
