﻿@model CEF.ServicesAuth.Model.AppToken

<script type="text/javascript">
        var EnviarDelete = false;
        var operation = "";
        function Alerta(  ) {

            if (confirm("Esta seguro que desea eliminar la App?")) {
                EnviarDelete = true;
                operation = "delete";
            } else {

                  EnviarDelete = false;


            }
        }
        function ValidateForm() {
       
            if (EnviarDelete && operation == "delete") {
                return true;

            } else if (operation == "delete" && EnviarDelete == false) {
                operation = "";
                return true;
            } else {
                return true;
            }
        }
</script>
<div class="row" style="width:90%;margin-left:5%;margin-right:5%;">
    <div class="col-md-5">

        @if (@Model.IdApp == 0)
        {
            <h1>Registrar App para Api</h1>
        }
        else
        {
            <h1>  @Model.Name</h1>
        }
        @using (Html.BeginForm("Save", "Apps", null, FormMethod.Post, true, new { @class = "form-group", onsubmit = "return ValidateForm()" }))
        {
            //  <form method="post" class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.IdApp)


            </div>
            <div class="form-group">
                <label class="control-label" style=" font-weight:bold;">Nombre</label>
                <input asp-for="@Model.Name" class="form-control  " />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            @if (@Model.IdApp != 0)
            {
                <div class="form-group">
                    <label class="control-label"  style=" font-weight:bold;">Codigo</label>
                    @Html.DisplayFor(model => model.Code)
                </div>
            }
                <div class="form-group form-check" style="margin-bottom:10px;">
                    <label class="form-check-label">

                        @Html.CheckBoxFor(model => model.Actived)
                        <label  style=" font-weight:bold;">Activo</label>

                    </label>
                </div>

                @if (@Model.IdApp != 0 && @Model.Actived)
                {
                    <div class="form-group">
                        <div style="height: 68px;overflow:auto;max-height: 109px;width: 406px;overflow-wrap: break-word; margin-bottom:5px;">
                            @Html.DisplayFor(model => model.Token)
                        </div>

                        <input type="submit" name="appsAcction" value="Generar Token" class="btn btn-primary btn-sm" />

                    </div>
                }

                <div class="form-group" style="margin-top:15px;">
                    @if (@Model.IdApp != 0)
                    {
                        // <input type="submit" style="margin-right:10px;" value="Delete" asp-page-handler="DeleteApp" class="btn btn-warning" onclick="Alerta();" />
                        <input type="submit" name="appsAcction" value="Save" class="btn btn-success" style="float:left ;" />

                    }
                    @if (@Model.IdApp == 0)
                    {
                        <input type="submit" name="appsAcction" value="Crear" class="btn btn-success" style="float:right ;" />
                    }

                    <input type="submit" name="appsAcction" value="Close" class="btn btn-warning" style="float:right ;" />
                </div>

                // </form>
            }
        </div>
</div>