﻿@model List<CEF.ServicesAuth.Model.AppToken>

    <div class="text-center">
        <h1 class="display24">Apps Access Api</h1>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name App</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Code</th>
                    <th scope="col">Token</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            @if (Model.Count () != 0)
            {
                foreach (CEF.ServicesAuth.Model.AppToken item in Model)
                {
        <tr>
            @Html.HiddenFor(x => item.IdApp)
            <th scope="row" style=" width:20%;">
                @Html.DisplayFor(x => item.Name)
            </th>
            <td style=" width:10%;">
                @Html.DisplayFor(x => item.Actived)
            </td>
            
            <td style=" width:20%;">
                @Html.DisplayFor(x => item.Code )
            </td>
            <td style=" width: auto;display: table-cell;">
                <div style="height: 68px;overflow:auto;max-height: 109px;width: 406px;overflow-wrap: break-word;">
                    @Html.DisplayFor(x => item.Token)
                </div>
            </td>
            <td style=" width:20%;">
                <a href="Apps/Edit/@item.IdApp">Edit</a>

            </td>
        </tr>
                }
            }
        </table>
        <a href="Apps/Edit/0" class="btn btn-success">Registrar app</a>

    </div>
 
